<%= form_for [wiki] do |f| %>
   <div class="form-group">
     <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
   </div>
   <div class="form-group">
     <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
   </div>
   <% if current_user.admin? || current_user.premium? %>
     <div class="form-group">
       <%= f.label :private, class: 'checkbox' do %>
         <%= f.check_box :private %> Private wiki
       <% end %>
     </div>
     <%= fields_for(@collaborators) do |cb| %>
       <% if @wiki.collaborators.any? %>
         <div class="form-group">
           <%= cb.label "Select Collaborators to be removed" %><br/>
           <%= collection_select(:collabs, :id, @wiki.collaborators, :id, :username, {}, {:multiple => true}) %>
         </div>
       <% end %>
       <div class="form-group">
         <%= cb.label "Select Users to be added as Collaborators" %><br/>
         <%= collection_select(:users, :id, @wiki.list_of_users, :id, :username, {}, {:multiple => true}) %>
       </div>
     <% end %>
   <% end %>
   <div class="form-group">
     <%= f.submit "Save Changes", class: 'btn btn-success' %>
   </div>
 <% end %>
