<br>
<div class="row">&nbsp;</div>
<div class="row">
  <% if user_authorized_to_edit_wikis? %>
    <div class="col-md-1">
      <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
  <% if policy(@wiki).destroy? %>
    <div class="col-md-1">
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
    </div>
  <% end %>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">
            <%= @wiki.title %>
          </h2>
          <p class="media-heading">
            <%= markdown(@wiki.body) %>
          </p>
          <small>
            <%= private_topic?(@wiki) %> topic, Created <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.username %>
          </small>
        </div>
      </div>

     <% @wiki.collaborators.each do |collab| %>
      <div class="media">
        <div class="media-body">
          <small>
            Collaborators: <%= collab.username %>
          </small>
        </div>
      </div>
    <% end %>

</div>
